* {
    color: navy;
    font-family: Calibri, Arial;
}

body {
    font-weight:800;
    background-color: lightskyblue;
    font-size: 16px;
    font-style: normal;
}

p {
    font-weight: 400;
}

footer, header {
    background-color: lightseagreen;
}

.link:hover {
    background-color: darkcyan
}

.button:hover {
    background-color: darkcyan
}