* {
    color: navy;
    background-color: lightskyblue;
    font-family: Calibri;
}

body {
    font-weight:800;
    font-size: 16px;
    font-style: normal;
}

p {
    font-weight: 400;
}